$phone-width: 320px;
$tablet-width: 768px;
$primary: rgb(72,72,72);
$secondary: rgba(0,0,0, 0.54);
$brand-color: #00b2ff;
$disabled: #e8e8e8;
$error: #f44336;
$success: #48c774;

.is-primary-font {
  color: $primary
}

.is-secondary-font {
  color: $secondary
}

.is-error-font {
  color: $error;
}

.is-fullpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.is-content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-bottom-margin {
  margin-bottom: 24px;
}


@import 'styles/card.scss';
@import 'styles/loginPage.scss';
@import 'styles/usersPage.scss';
@import 'styles/checkbox.scss';
@import 'styles/input.scss';
@import 'styles/button.scss';
